@import url('https://fonts.cdnfonts.com/css/pt-sans-2');
@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body {
  background-color: #000 !important;
  font-family: 'PT Sans', sans-serif !important;
  max-width: 1920px;
  margin: auto;
}

.col,
[class*='col-'],
.row,
ul,
li,
.container-fluid {
  margin: 0;
  padding: 0;
}

.top-line {
  color: #969696;
  font-size: 0.75rem;
  align-items: center;
  text-align: center;
}
.top-line i {
  margin-right: 1%;
}

.collapse .navbar-brand {
  color: #969696;
  font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;
  font-size: 2.25em;
}

.navbar-nav {
  font-size: 0.875em;
  align-items: center;
}
.navbar-nav .nav-item {
  color: #969696;
  text-transform: uppercase;
}

.navbar-nav .nav-item a {
  color: #969696;
}

.navbar-nav .nav-item .nav-link.active {
  color: #fff;
  text-transform: uppercase;
}

.banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 100%;
}
.logo {
  display: flex;
  width: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo-center {
  display: flex;
  height: calc(100vw * 0.42);
  max-height: 320px;
  width: 320px;
  color: #fff;
  border: 2px solid #fff;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  box-sizing: border-box;
}

.logo-center-title {
  font-family: 'Post No Bills Jaffna ExtraBold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 10%;
}

.line {
  border: 1px solid #fff;
  width: 120px;
  margin: 3% auto;
}

.logo-center-title .line {
  width: 11rem;
  margin-top: -1rem;
}

.logo-center-town {
  font-size: 1.375rem;
  text-transform: uppercase;
}

.logo-text {
  margin-top: 4%;
  text-transform: uppercase;
  width: 700%;
  color: #fff;
}

.wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.title {
  display: flex;
  font-family: 'Playfair Display', serif;
  font-size: 2.25em;
  color: #fff;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.new-season-items {
  display: flex;
  justify-content: space-evenly;
}
.new-season .title {
  padding-top: 5%;
  margin-bottom: 3%;
}

.new-season-item {
  width: 260px;
  height: 405px;
  color: #fff;
  position: relative;
}
.background {
  width: 100%;
  height: 325px;
  background-color: rgba(25, 27, 28, 1);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.new-season-item .image1 {
  background-image: url('images/louis_athos.png');
}
.new-season-item .image2 {
  background-image: url('images/carl_von_zeyten.png');
}
.new-season-item .image3 {
  background-image: url('images/jord_ar5903.png');
}

.new-season-item .name {
  font-family: 'Playfair Display', serif; /*regular*/
  font-size: 1.125rem;
  position: absolute;
  bottom: 31px;
}
.new-season-item .price {
  font-family: 'Playfair Display', serif; /*bold*/
  position: absolute;
  bottom: 0;
  font-size: 1rem;
}
.new-collection {
  display: flex;
  position: relative;
}

.new-collection img {
  margin: calc(320px - 0.166 * 100vw) 0;
}

.new-collection .title {
  margin-top: calc(48% + 320px - 0.166 * 100vw);
}
.new-collection-button {
  padding: 12px 28px 12px 28px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.125rem;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .new-collection img {
    margin: 5%;
  }

  .new-collection .title {
    margin-top: 50%;
  }
}
@media screen and (min-width: 1920px) {
  .new-collection img {
    margin: 0;
  }
}

@media screen and (max-width: 880px) {
  .new-season-items {
    flex-wrap: wrap;
  }
}

.collection img {
  width: 100%;
}

.collection .title {
  margin-top: 5%;
  margin-bottom: 5%;
}
.collection-p {
  padding: 0 17%;
  text-transform: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  line-height: 1.7;
}

.goods .title {
  margin-top: 5%;
}

.goods-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  margin-bottom: 8%;
}
.goods-group .new-season-item {
  margin-bottom: 3%;
}
.goods-item-image1 {
  background-image: url('images/carl_von_zeyten.png');
}
.goods-item-image2 {
  background-image: url('images/jord_ar5903.png');
}
.goods-item-image3 {
  background-image: url('images/emborio_armani.png');
}
.goods-item-image4 {
  background-image: url('images/rolex_oyster.png');
}
.goods-item-image5 {
  background-image: url('images/louis_athos.png');
}
.goods-item-image6 {
  background-image: url('images/u-boat.png');
}
.goods-item-image7 {
  background-image: url('images/gucci.png');
}
.goods-item-image8 {
  background-image: url('images/jord_ar5903.png');
}

.goods-item-image8 > div > .new-collection-button {
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
}

.articles-header {
  padding-top: 5%;
  margin-bottom: 4%;
}
.article img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.article-text {
  display: flex;
  padding: 10%;

  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 1.125rem;
  flex-direction: column;
}

.article-text span {
  margin-bottom: 2%;
}
.article-text p {
  margin-bottom: 4%;
  font-size: 0.875rem;
  line-height: 1.7;
}

.swiper {
  width: 100%;
  margin-bottom: 5%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-color: #000;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: #d0d0d0 !important;
}

.swiper-pagination-bullet {
  background-color: #969696 !important;
}

.partners {
  margin-top: 3%;
  margin-bottom: 5%;
}

.partners > ul {
  display: flex;
  list-style-type: none;
  gap: 1%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url('/images/footer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}

.footer-text {
  font-size: 0.875rem;
  padding: 4%;
}

.footer .title,
.categories {
  padding: 4% 4%;
}

.categories > ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}
.categories > ul > li {
  border: 1px solid #fff;
  white-space: nowrap;
  margin-left: 2em;
  padding: 10px 20px 10px 20px;
  background-color: #000;
}
#email {
  margin-left: 4%;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
}
#btnFollow {
  margin-left: 4%;
  padding: 10px 20px 10px 20px;
  background-color: #000;
  color: #fff;
}
.copyright {
  display: flex;
  font-size: 0.75rem;
  color: #d0d0d0;
}
.user-aggrement {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  color: #d0d0d0;
  margin-right: 4rem;
}
